/API/AIPolicy/.vs
/API/AIPolicy/AIPolicy.API/obj
/API/AIPolicy/AIPolicy.Application/obj
/API/AIPolicy/AIPolicy.Core/obj
/API/AIPolicy/AIPolicy.Infrastructure/obj
/API/AIPolicy/AIPolicy.API/bin
/API/AIPolicy/AIPolicy.Application/bin
/API/AIPolicy/AIPolicy.Core/bin
/API/AIPolicy/AIPolicy.Infrastructure/bin
*.bin
