/APP/AIPolicy/.vs
/APP/AIPolicy/AIPolicy.API/obj
/APP/AIPolicy/AIPolicy.Application/obj
/APP/AIPolicy/AIPolicy.Core/obj
/APP/AIPolicy/AIPolicy.Infrastructure/obj
/APP/AIPolicy/AIPolicy.API/bin
/APP/AIPolicy/AIPolicy.Application/bin
/APP/AIPolicy/AIPolicy.Core/bin
/APP/AIPolicy/AIPolicy.Infrastructure/bin
*.bin
